/* ====== Title.png ====== */
.title-image {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    height: auto;
}

/* ====== Basic Styling ====== */
body {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #504949;
    margin: 50;
    padding: 5;
    cursor: url('taiwan_cursor.png'), auto;
    align-items: center;
}

p {
    font-size: 16px;
    line-height: 1.2;
    font-style: italic;
}

h2 {
    font-size: 20px;
    line-height: 1.2;
    font-style: bold;

}

/* ====== Navigation Bar ====== */
/* Style the navbar */
nav {
    padding: 30px 0;
    display: inline-block;
    width: 100%;
    z-index: 1000;
}

/* Style the list */
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: left;
    /* Centers the items */
}

/* Style the links */
nav ul li a {
    color: rgb(66, 69, 82);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'arial narrow';
    padding: 10px 15px;
}

/* Add a hover effect */
nav ul li a:hover {
    color: rgb(166, 53, 53);
}
