/* ====== Title.png ====== */
.title-image {
    display: flex; 
    max-width: 400px; 
    height: auto; 
}

/* ====== Navigation Bar ====== */
/* Style the navbar */
nav {
    background-color: rgba(183, 187, 199, 0.76);
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Style the list */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:left;
}

/* Style each list item */
nav ul li {
    margin: 0 10px;
}

/* Style the links */
nav ul li a {
    color: rgb(66, 69, 82);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 14px;
}

/* Add a hover effect */
nav ul li a:hover {
    color: rgb(166, 53, 53);
}


/* ====== Basic Styling ====== */
body {
    background: url('../background.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    font-family: "arial narrow";
    color: #504949; 
    margin: 0;
    padding: 0;
    cursor: url('taiwan_cursor.png'), auto; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    }

p {
    font-size: 16px; 
    line-height: 1.2; 
    font-style: italic;
}

/* ====== Page Structure ====== */
/* Key photo and city name */
.city-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.city-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: -50px;
    left: 0;
}

.city-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    text-shadow: 3px  3px 0 black;
    animation: fade_in 2s forwards;
}

@keyframes fade_in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* photo gallery and captions */
.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 5px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    box-sizing: border-box; 
    margin: 0 auto;  
    justify-items: center;   
    align-items: center;
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(46, 42, 42, 0.449);
    color: white;
    text-align: center;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover .caption {
    opacity: 1;
}
